<!--<p>hero works!</p>
<h1>{{hero.name | uppercase}} Details</h1>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name | uppercase}}</div>-->

<ul>
    <li class="heroes" *ngFor="let hero of heroes;let i=index">
        <button id="{{hero.id}}" type="button" (click)="onPress($event) " >
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
            <span class="power">{{hero.power}}</span>
          </button>
    </li>
</ul>

<div id="details" *ngIf="display">
    <app-hero-details [message]="initialCount"></app-hero-details>
</div>