<!--<p>hero-details works!</p>

    <div>
    <div class="hero">gfgkkhl</div>
    <li class="heroes" *ngFor="let hero of heroes; let i=index ">
        <div>
            <span class="badge">{{hero.description}}</span>
            <span>{{hero.power}}</span>
            
    </div>
    </li>
</div>

-->
<div class="container" id="container" >
<h1>{{message}}</h1>
<h1 class="hero" >{{heroes[message].name | uppercase}} 's Details</h1>
<h5 class="badge">{{heroes[message].description}}</h5>
<h3>FIrst Appearance:{{heroes[message].date | date:'dd/MM/yyyy'}}</h3>  
</div>
    

